@model CardData
<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">@Model.title</h5>
        <h6 class="card-subtitle mb-2 text-muted">@Model.subtitle</h6>
        <p class="card-text">@Model.content</p>
    </div>
</div>