@model EditToDoViewModel

<div class="row">
    <div class="col text-center">
        <h1>@ViewData["Title"]</h1>
    </div>
</div>

<form method="post">
    <div class="mb-3">
        <label asp-for="title" class="form-label">Título</label>
        <input asp-for="title" type="text" class="form-control">
    </div>
    <div class="mb-3">
        <label asp-for="date" class="form-label">Data</label>
        <input asp-for="date" type="date" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Salvar</button>
</form>